<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CM - Опитування</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/97125d9c6b.js" crossorigin="anonymous" async></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" async></script>
</head>
<body>
    <div th:insert="header.html"></div>
    <div class="container py-5">
        <h2 th:text="${quiz.title}"></h2>
        <br>
        <table class="table">
            <tbody>
                <tr>
                    <td class="name">Опис</td>
                    <td class="value" th:text="${quiz.description}"></td>
                </tr>
                <tr>
                    <td class="name">Варіанти відповідей</td>
                    <td class="value">
                        <div class="mb-1" th:each="option, rowStat : ${quiz.optionDTOs}">
                            <label th:text="'Варіант відповіді №' + ${rowStat.index + 1} + ':'"></label>
                            <p th:text="${quiz.optionDTOs[__${rowStat.index}__].title}"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="name">Статус</td>
                    <td class="value" th:text="${quiz.status}"></td>
                </tr>
                <tr>
                    <td class="name">Початок опитування</td>
                    <td class="value" th:text="${#temporals.format(quiz.startDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <td class="name">Кінець опитування</td>
                    <td class="value" th:text="${#temporals.format(quiz.endDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <td class="name">Макет районування</td>
                    <td class="value">
                        <a th:text="${quiz.layoutDTO.name}" th:href="${'/layouts/' + quiz.layoutDTO.id}"></a>
                    </td>
                </tr>
                <tr>
                    <td class="name">Прикріплені файли</td>
                    <td class="value">
                        <div th:each="file : ${quiz.fileDTOs}">
                            <a th:text="${file.name}" th:href="${'/files/' + file.id}"></a>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
        <div th:if="${quiz.status == 'Завершено'}">
            <h3>Результати опитування</h3>

        </div>
    </div>
</body>
</html>