<nav class="navbar navbar-expand-lg navbar-dark bg-dark mr-5 py-3" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container-fluid">
        <a class="navbar-brand mx-5" href="/"> <b>CityMonitor</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLayouts" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end mx-5" id="navbarLayouts">
            <ul class="navbar-nav">
                <li class="nav-item" sec:authorize="hasAnyAuthority('users:read', 'users:write')">
                    <a class="nav-link position-relative" href="/users">
                        Управління користувачами
                    </a>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('layouts:read', 'layouts:write')">
                    <a class="nav-link dropdown-toggle" id="navbarLayoutsDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Управління макетами
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarLayoutsDropdownMenu">
                        <li sec:authorize="hasAuthority('layouts:write')">
                            <a class="dropdown-item" href="/layouts/new">Створити новий</a>
                        </li>
                        <li><a class="dropdown-item" href="/layouts">Всі макети</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('quizzes:read', 'quizzes:write')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarQuizzesDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Опитування
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarQuizzesDropdownMenu">
                        <li sec:authorize="hasAuthority('quizzes:write')">
                            <a class="dropdown-item" href="/quizzes/new">Створити опитування</a>
                        </li>
                        <li><a class="dropdown-item" href="/quizzes">Всі опитування</a></li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('appeals:read', 'appeals:write')">
                    <a class="nav-link position-relative" href="/appeals">
                        Звернення жителів
                        <span th:if="${unreadAppealsCnt > 0}" th:text="${unreadAppealsCnt}" id="unread-appeal-cnt" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link position-relative" href="/myprofile">
                        <i class="bi bi-person"></i>
                        Профіль
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link position-relative" href="/logout">
                        <i class="fa fa-sign-out"></i>
                        Вихід
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>