<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CM - Звернення жителів</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link type="text/css" rel="stylesheet" th:href="@{/css/appealsModule.css}">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" async></script>
    <script type="text/javascript" rel="script" th:src="@{/js/ajaxRequests.js}" defer></script>
    <script type="text/javascript" rel="script" th:src="@{/js/appealsPage.js}" defer></script>
    <script th:src="@{${'https://maps.googleapis.com/maps/api/js?key=' + googlemaps_apikey}}" defer></script>
</head>
<body class="vh-100">
    <div  th:insert="header.html"></div>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="appeals-module mb-4">
            <nav>
                <a href="/appeals" class="btn btn-danger btn-block">Всі звернення</a>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/appeals?tab=new" th:classappend="${tab} == 'new' ? 'active' : ''"><i class="bi bi-arrow-return-right"></i> Нові</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/appeals?tab=in_progress" th:classappend="${tab} == 'in_progress' ? 'active' : ''"><i class="bi bi-tools"></i> В роботі</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/appeals?tab=processed" th:classappend="${tab} == 'processed' ? 'active' : ''"><i class="bi bi-envelope-check-fill"></i> Опрацьовані</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/appeals?tab=trash" th:classappend="${tab} == 'trash' ? 'active' : ''"><i class="fa fa-trash-o"></i>Сміття</a>
                    </li>
                </ul>
            </nav>
            <main class="inbox">
                <div class="toolbar">
                    <div class="btn-group" sec:authorize="hasAuthority('appeals:write')">
                        <button type="button" class="btn btn-light status-button" data-status="IN_PROGRESS">
                            <span class="bi bi-tools"></span>
                        </button>
                        <button type="button" class="btn btn-light status-button" data-status="PROCESSED">
                            <span class="bi bi-envelope-check-fill"></span>
                        </button>
                        <button type="button" class="btn btn-light status-button" data-status="TRASH">
                            <span class="fa fa-trash-o"></span>
                        </button>
                    </div>

                    <div class="btn-group float-end">
                        <t class="px-3 text-center d-flex align-items-center" th:if="${appeals.getTotalElements() > 0}"
                           th:text="${((page - 1) * size + 1) + ' - ' + ((page * size) > appeals.getTotalElements() ? appeals.getTotalElements() : (page * size)) + ' з ' + appeals.getTotalElements()}"></t>

                        <a class="btn btn-light" th:href="${appeals.hasPrevious() ? '/appeals?tab=' + tab + '&page=' + (page - 1) + '&size=' + size : ''}" th:classappend="${!appeals.hasPrevious() ? 'disabled' : ''}">
                            <span class="fa fa-chevron-left"></span>
                        </a>
                        <a class="btn btn-light" th:href="${!appeals.isLast() ? '/appeals?tab=' + tab + '&page=' + (page + 1) + '&size=' + size : ''}" th:classappend="${appeals.isLast() ? 'disabled' : ''}">
                            <span class="fa fa-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <div id="list-appeal-div">
                    <ul class="appeals">
                        <li class="appeal" th:classappend="${appeal.status == 'Непрочитано' ? 'unread' : ''}" th:data-id="${appeal.id}" th:each="appeal : ${appeals.getContent()}">
                            <div class="actions">
                                <span class="action"><input class="appeal-checkbox" type="checkbox"></span>
                            </div>
                            <div class="header">
                                <span class="from" th:text="${appeal.local.name}"></span>
                                <span class="date" th:text="${#temporals.format(appeal.postDate, 'dd-MM-yyyy HH:mm:ss')}"></span>
                            </div>
                            <div class="description" th:text="${#strings.abbreviate(appeal.text,150)} "></div>
                            <div class="location"></div>
                            <div class="files row flex-box"></div>
                        </li>
                    </ul>
                </div>
                    <div th:id="${'appeal_' + appeal.id}" th:each="appeal : ${appeals.getContent()}" style="display: none">
                        <a class="btn btn-light my-3 go-back">
                            <span class="bi bi-arrow-left"></span>
                        </a>
                        <table class="table mb-5">
                            <tbody>
                            <tr>
                                <td class="name">Відправник</td>
                                <td class="value">
                                    <div class="mb-1">
                                        <label>Ім'я:</label>
                                        <p th:text="${appeal.local.name}"></p>
                                    </div>
                                    <div class="mb-1">
                                        <label>Телефон:</label>
                                        <p th:text="${appeal.local.phone}"></p>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td class="name">Надіслано</td>
                                <td class="value" th:text="${#temporals.format(appeal.postDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                            </tr>
                            <tr>
                                <td class="name" >Статус</td>
                                <td class="value appeal-status" th:text="${appeal.status}"></td>
                            </tr>
                            <tr th:if="${appeal.fileDTOs.size() > 0}">
                                <td class="name">Прикріплені файли</td>
                                <td>
                                    <div th:each="file : ${appeal.fileDTOs}">
                                        <a th:text="${file.name}" th:href="${'/files/tgFile/' + file.tgFileId}"></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="mb-5" >
                            <p th:text="${appeal.text}"></p>
                        </div>
                        <div class="location mb-3" th:if="${appeal.locationPointDTO != null}">
                            <div class="map" style="height: 500px"></div>
                            <input class="latitude" type="hidden" th:value="${appeal.locationPointDTO.latitude}">
                            <input class="longitude" type="hidden" th:value="${appeal.locationPointDTO.longitude}">
                        </div>
                    </div>
            </main>
        </div>
    </div>
</body>
</html>