<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CM - Макет</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://kit.fontawesome.com/97125d9c6b.js" crossorigin="anonymous" async></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" async></script>
    <script type="text/javascript" rel="script" th:src="@{/js/layouts/demoLayout.js}" defer></script>
    <script th:src="@{${'https://maps.googleapis.com/maps/api/js?key=' + googlemaps_apikey +'&libraries=drawing,geometry,visualization&callback=initMap'}}" defer></script>
    <script type="text/javascript" rel="script" th:src="@{/js/ajaxRequests.js}" defer></script>
    <script type="text/javascript" rel="script" th:src="@{/js/layouts/layoutPage.js}" defer></script>
</head>
<body>
    <div th:insert="header.html"></div>
    <div class="container py-5">
        <h2 th:text="${layout.name}"></h2>
        <br>
        <div id="map"></div>
        <br>
        <table class="table">
            <tbody>
                <tr>
                    <td class="name">Статус</td>
                    <td id="statusValue" class="value" th:text="${layout.status.getTitle()}"></td>
                </tr>
                <tr th:if="${not #lists.isEmpty(quizzes)}">
                    <td class="name">Використовується в</td>
                    <td class="value">
                        <div th:each="quiz : ${quizzes}">
                            <a th:text="${quiz.title}" th:href="${'/quizzes/' + quiz.id}"></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <input hidden id="layoutId" th:value="${layout.id}">
        <div class="my-4">
            <button type="button" class="btn btn-primary submit-btn mb-2" id="changeAvailabilityBtn"
                    th:text="${layout.status.name() != 'DEPRECATED' ? 'Позначити як застарілий' : 'Позначити як доступний для використання'}"
                    th:value="${layout.status.name() == 'DEPRECATED' ? 'set_active' : 'set_deprecated'}"></button>
            <br><br>
            <button type="button" th:disabled="${not #lists.isEmpty(quizzes)}" class="btn btn-primary submit-btn mb-2" id="delete">Видалити</button>
        </div>
        <input hidden="hidden" id="polygons-json" th:field="${layout.polygonsGeoJson}">
        <input hidden="hidden" id="mapCenterLat" th:value="${mapCenterLat}">
        <input hidden="hidden" id="mapCenterLng" th:value="${mapCenterLng}">
        <input hidden="hidden" id="mapZoom" th:value="${mapZoom}">
    </div>
</body>
</html>