.btn {
    background: #ffffff; /* Blue background */
    border: none; /* Remove borders */
    color: black; /* White text */
    padding: 7px 7px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #a70000;
}

.submit-btn:disabled{
    background-color: rgba(167, 0, 0, 0.31);
}

.submit-btn, .submit-btn:focus, .submit-btn:active  {
    background: #dc3545;
    border: none; /* Remove borders */
    color: #fff;
    padding: 7px 7px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}
.submit-btn:hover {
    background-color: #a70000;
    color: #fff;
}

#map{
    height: 800px;
    width: 100%
}

.table-row{
    cursor:pointer;
}

.page-link{
    color: black;
}

.page-item.active .page-link {
    background-color: #dc3545;
    border-color: #dc3545;
}

.page-item :hover{
    background-color: #a70000;
    border-color: #a70000;
    color: white;
}

t, p{
    word-wrap: break-word;
}

